<!DOCTYPE html>
<html lang=ru dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Новости</title>
    <style>
      h1{
        margin: 20px;
      }
      </style>
  </head>
  <body>
    <h1> param1 : <%= newsId.param1  %> </h1>
    <h1> param2 : <%= newsId.params2  %> </h1>
    <h1> pito : <%= newsId.pito  %> </h1>

  </body>
</html>
